fail_fast: true
repos:
  - repo: https://github.com/grantjenks/blue
    rev: v0.9.1
    hooks:
      - id: blue
        args: ["--line-length", "79"]

  - repo: local
    hooks:
      - id: flake8
        name: flake8
        entry: poetry run flake8
        language: system
        types: [python]
        args: ['--ignore=E501,W503,E203']

      - id: pytest-check
        name: pytest-check
        entry: bash -c 'PYTHONFAULTHANDLER="1" poetry run pytest'
        language: system
        types: [python]
        pass_filenames: false
        always_run: true
        stages: [pre-commit]
        verbose: true
