<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robin_robot">
    <!-- Main URDF for the ROBIN Project, brings together UR robot, Fronius welder, and Garmo laser sensor -->
    
    <!-- Define arguments -->
    <xacro:arg name="tf_prefix" default=""/>
    <xacro:arg name="garmo_origin_xyz" default="0.0 -0.032 -0.165"/>
    <xacro:arg name="garmo_origin_rpy" default="${pi} 0 -${pi/2}"/>
    <xacro:arg name="welding_table_origin_xyz" default="-1.096 0.076 -0.193"/>
    <xacro:arg name="welding_table_origin_rpy" default="0 0 ${pi/2}"/>
    <xacro:arg name="robot_platform_origin_xyz" default="0.25 0.4 -0.5"/>
    <xacro:arg name="robot_platform_origin_rpy" default="0 0 0"/>
    <xacro:arg name="is_simulation" default="false"/>

    <!-- Include UR  -->
    <xacro:include filename="$(find robin_hardware_ur)/urdf/ur_gz.urdf.xacro"/>

    <!-- Include Fronius macro -->
    <xacro:include filename="$(find robin_hardware_fronius)/urdf/fronius_macro.xacro"/>

    <!-- Include Garmo Garline macro -->
    <xacro:include filename="$(find robin_hardware_garmo)/urdf/garmo_garline_macro.xacro"/>

    <!-- Include scene macro -->
    <xacro:include filename="$(find robin_core_bringup)/urdf/scene_macro.xacro"/>

    <!-- Add Fronius weld torch -->
    <xacro:fronius_weld_torch parent="tool0">
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </xacro:fronius_weld_torch>

    <!-- Add Garmo Garline laser sensor -->
    <xacro:garmo_laser_sensor parent="weld_torch_tip">
        <origin xyz="$(arg garmo_origin_xyz)" rpy="$(arg garmo_origin_rpy)"/>
    </xacro:garmo_laser_sensor>

    <!-- Create scene elements -->
    <xacro:scene 
        table_xyz="$(arg welding_table_origin_xyz)" 
        table_rpy="$(arg welding_table_origin_rpy)"
        platform_xyz="$(arg robot_platform_origin_xyz)" 
        platform_rpy="$(arg robot_platform_origin_rpy)"/>

</robot>